div.square {
    color: #00ff7f;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border: solid black 5px;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    float: left;
    font-size: 320%;
    text-align: center;
    font-weight: bold;
    font-family: helvetica;

}
div.first {
    clear: left;
    
}